.team
	background black	
	h1
		font-size 40px
		color white
		padding-top 40px
		span
			font-weight bold
		text-align center
	h5
		color #727272
		text-align center
	.members_team
		display flex
		justify-content center
		flex-wrap wrap
		.member
			margin 30px
			.img_member
				border-radius 50%
				border 5px solid white
				img
					border-radius 50%
			.about_member
				h5
					color white
					font-weight bold
				p
					color #ebebeb 
			
					
				